/* Dibujo del fondo de pantalla */
#dibujo-3 {
  z-index: -1;
  height: 400px;
  position: absolute;
  right: 0;
  top: 430%;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

label {
  color: transparent;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #f9f9f9;
  border: none;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  padding: 0.8rem;
}

::placeholder {
  padding: 0.8rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

textarea {
  height: auto;
}

form .btn {
  width: min-content;
  margin: auto;
  margin-bottom: 3.1rem;
}

@media (max-width: 960px) {
  form {
    width: 90%;
  }

  form .btn {
    width: 50%;
  }
}
