footer {
  background-color: #061820;
}

footer p,
span,
a {
  color: var(--blanco);
  text-decoration: none;
}

#footer-nombre {
  color: var(--azul);
  font-weight: 500;
}

.footer-top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  margin: auto;
}

#formulario-footer {
  flex-direction: row;
  margin: 0;
}

.footer-form input {
  width: 21.5rem;
  height: 3rem;
  margin: 0;
}

.footer-form .btn {
  height: 48px;
  border-radius: 0;
  margin-left: -5px;
}

.footer-mid {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-mid i {
  font-size: 1.2rem;
  color: var(--blanco);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 2rem;
}

footer h2 {
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--blanco);
}

footer p {
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: var(--blanco);
}

footer h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--blanco);
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-mid p {
  display: flex;
  align-items: center;
  color: var(--blanco);
}

a:hover {
  color: var(--azul);
  text-decoration: none;
}

a i:hover {
  color: var(--azul);
}

@media (max-width: 960px) {
  .footer-top,
  .footer-mid,
  .footer-bottom {
    width: 95%;
  }
  .footer-top {
    justify-content: space-evenly;
    display: none;
  }
  footer p {
    font-size: 1.06rem;
    text-align: left;
  }

  .footer-form {
    flex-wrap: nowrap;
  }
  .footer-form input {
    width: 200px;
  }
  .footer-form .btn {
    width: 50px;
  }
  .footer-mid {
    padding-top: 3rem;
  }
}

@media (max-width: 480px) {
  footer,
  .footer-top,
  .footer-mid,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .column {
    text-align: center;
    align-items: center;
  }
  .footer-form {
    width: 100%;
  }

  .footer-top-1,
  .footer-top-2 {
    margin-bottom: 0.6rem;
  }

  footer h2 {
    margin-bottom: 0.3rem;
  }
  .column p {
    text-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .column {
    margin-bottom: 1.5rem;
  }

  .footer-mid p {
    display: block;
    text-align: center;
    margin-bottom: 0.9rem;
  }
}
