@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap");
/*titulo raleway resto inter*/
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--negro);
}

:root {
  --negro: #061820;
  --gris: #6d7173;
  --grisclaro: #f9f9f9;
  --blanco: #ffffff;
  --azul: #0c7fb0;
}
