.about-me {
  background-color: var(--grisclaro);
}

.about-me-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.imagen-sobre-mi {
  background: url(../../img/foto_sobre_mi.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 500px;
  border-radius: 10px;
}

.about-me-text {
  width: 60%;
}

.about-me-text h1 {
  font-size: 3.75rem;
  font-weight: 500;
}

.about-me-text h2 {
  color: var(--gris);
  font-size: 2.5rem;
  font-weight: 500;
}

.about-me-text p {
  color: var(--gris);
  font-size: 1.625rem;
  line-height: 2.5rem;
}

@media (max-width: 960px) {
  .about-me-container {
    display: block;
    text-align: center;
    width: 90%;
  }

  .about-me-text {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .imagen-sobre-mi {
    display: none;
  }

  h1 {
    font-size: 3.4rem;
  }

  .about-me-text h2 {
    font-size: 1.8rem;
    margin: 20px 0;
  }

  p {
    font-size: 1.3rem;
    line-height: 26px;
  }
}

@media (max-width: 480px) {
  .about-me {
    padding: 40px 0;
  }

  .about-me-text p {
    line-height: 2.2rem;
  }
}
